apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.internalName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: {{ .Values.postgres.port }}
      targetPort: {{ .Values.postgres.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.externalName }}
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: postgres
  ports:
    - port: {{ .Values.postgres.port }}
      targetPort: {{ .Values.postgres.port }}
      nodePort: {{ .Values.service.nodePort }}
