image:
  repository: williamle92/hyperion
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 3

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  hosts:
    - host: backend.local
      paths:
        - /
