apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deploy
  namespace: hyperion
  labels:
    app: api
spec:
  replicas: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 40%
      maxSurge: 40%
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: hyperion
        image: docker.io/williamle92/hyperion:latest
        ports:
        - containerPort: 8000
