alembic==1.13.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
amqp==5.2.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
annotated-types==0.6.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
anyio==4.3.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
async-timeout==4.0.3 ; python_full_version >= "3.11.9" and python_version < "3.12.0"
asyncpg==0.29.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
bcrypt==4.0.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
billiard==4.2.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
celery==5.3.6 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
cffi==1.16.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
click-didyoumean==0.3.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
click-plugins==1.1.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
click-repl==0.3.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
click==8.1.7 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.11.9" and python_version < "4.0"
cryptography==42.0.5 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
distlib==0.3.8 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
dnspython==2.6.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
ecdsa==0.19.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
email-validator==2.1.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
fastapi==0.110.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
filelock==3.13.4 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
greenlet==3.0.3 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
h11==0.14.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
identify==2.5.35 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
idna==3.7 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
kombu==5.3.7 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
mako==1.3.3 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
markupsafe==2.1.5 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
mslex==1.2.0 ; python_full_version >= "3.11.9" and python_version < "4.0" and sys_platform == "win32"
nodeenv==1.8.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
passlib==1.7.4 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
platformdirs==4.2.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
pre-commit==3.7.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
prompt-toolkit==3.0.43 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
psutil==5.9.8 ; python_full_version >= "3.11.9" and python_version < "4.0"
pyasn1==0.6.0 ; python_full_version >= "3.11.9" and python_version < "4"
pycparser==2.22 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0" and platform_python_implementation != "PyPy"
pydantic-core==2.18.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
pydantic-settings==2.2.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
pydantic==2.7.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
pydantic[email]==2.7.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
python-dotenv==1.0.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
python-jose[cryptography]==3.3.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
python-multipart==0.0.9 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
pyyaml==6.0.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
redis==5.0.3 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
rsa==4.9 ; python_full_version >= "3.11.9" and python_version < "4"
ruff==0.3.7 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
setuptools==69.5.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
sniffio==1.3.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
sqlalchemy-utils==0.41.2 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
sqlalchemy==2.0.29 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
starlette==0.37.2 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
taskipy==1.12.2 ; python_full_version >= "3.11.9" and python_version < "4.0"
tomli==2.0.1 ; python_full_version >= "3.11.9" and python_version < "4.0"
typing-extensions==4.11.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
tzdata==2024.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
uvicorn==0.29.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
vine==5.1.0 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
virtualenv==20.25.1 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
wcwidth==0.2.13 ; python_full_version >= "3.11.9" and python_full_version < "4.0.0"
