apiVersion: v1
kind: Service
metadata:
  name: postgres-internal
  namespace: hyperion
  labels:
    app: postgres
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-external
  namespace: hyperion
spec:
  type: NodePort
  selector:
    app: postgres
  ports:
    - port: 5432          # internal cluster port
      targetPort: 5432    # postgres container port
      nodePort: 30032     # port on your node you connect to externally